

.wrapper{
  height: 90vh;
  .confirm{
    background: url('../../confirm.gif');
    background-size: cover;
    height: 800px;
    background-position: bottom;
  }
  @media only screen and (max-width: 600px) {
    .confirm{
      height: 400px;
    }
  }
}