.category {
  margin: 10px 0px;
}

.item {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .image {
    text-align: center;
    background: grey;
    height: 200px;
    width: 200px;
    margin: auto;
  }

  .description {

    .buyWrapper {
      display: flex;
      align-self: center;
      justify-content: space-between;
      padding: 5px 0px;

      .price {
        button {
          border: 1px solid;
        }
      }

      .edit {
        border: 1px solid var(--txt-color-lightblack);
        padding: 5px;
        border-radius: 20px;
        cursor: pointer;

        span {
          margin: 0px 5px;
        }
      }
    }

    .name {
      padding: 5px 0px;
      font-size: 1rem;
      font-weight: 500;
      color: var(--txt-color-lightblack);
      height: 35px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:hover{
        overflow: visible;
      }
    }
  }
}