.category {
  margin: 10px 0px;
}

.item {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;

  .info {
    display: flex;

    .image {
      text-align: center;
      width: 120px;
      margin-right: 32px;
    }
    @media only screen and (max-width: 600px) {
      .image {
        
        width: 90px;
        margin-right: 16px;
      }
    }

    .description {

      .buyWrapper {
        display: flex;
        align-self: center;
        justify-content: space-between;
        padding: 5px 0px;
        font-size: 1rem;

      }

      .name {
        font-size: 1.25rem;
        color: var(--txt-color-lightblack);
        
        font-weight: 500;

        &:hover {
          overflow: visible;
        }
      }
    }
  }

  .quantity {
    width: 50%;
    text-align: right;
    button {
      border: 1px solid;
    }

    .edit {
      border: 1px solid var(--txt-color-lightblack);
      padding: 5px;
      border-radius: 20px;
      cursor: pointer;
      width: max-content;
      float: right;
      span {
        margin: 0px 5px;
      }
    }
  }
}