.restaurantWrapper {
  background: white;

  .background {
    height: 300px;
    background: white;

  }

  .name {
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .highlights {
    margin: 0px;
    padding: 0px;

    li {
      display: inline-flex;

      &:before {
        content: "\2022";
        padding-left: 8px;
        padding-right: 3px;
      }
    }
  }

  .details {
    background: white;
    padding: 10px 0px;
    margin: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .menucategory {
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .categories {
    background: white;
    padding: 10px;
    position: sticky;
    top: 80px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .item {
      font-size: 1rem;
      line-height: 1rem;
      padding: 5px;
      color: var(--txt-color-lightblack);
      cursor: pointer;
      margin: 5px;

      &:hover {
        color: var(--txt-color-black);
        font-weight: 400;
        border-left: 2px solid red;
      }
    }
  }
}

.checkout {
  position: sticky;
  top: 80px;
  background: white;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuWrapper {
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 2;

  .categories {
    position: absolute;
    bottom: 50px;
    right: 0px;
    background: white;
    padding: 20px;
    max-height: 400px;
    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .item {
      font-size: 1rem;
      line-height: 1rem;
      padding: 5px;
      color: var(--txt-color-lightblack);
      margin: 5px;
    }

  }

  button {
    background: red;

  }
}



.checkoutBar {
  position: fixed;
  bottom: 0px;
  width: 100%;

  .itemDetails {
    background: yellow;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .checkout {
    background: red;
    height: 300px;
    position: static;
  }

}