.checkoutWrapper {

  // width: 100%;
  // max-width: 600px;
  // position: absolute;
  // top: 20%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // z-index: 2;
  // background: white;
  .close {
    padding: 10px;
    cursor: pointer;
    text-align: right;
    font-size: 2rem;
  }

  height: 100vh;

  .header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .order{
    .subtotal{
      font-weight: bold;
      font-size: 1rem;
    }
  }


  .checkout {
    padding: 10px;
    text-align: center;
    font-weight: bold;

    button {
      padding: 5px 10px;
    }
  }
}