.checkoutWrapper {
  .close {
    padding: 10px;
    cursor: pointer;
    text-align: right;
  }

  height: 100vh;

  .header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f3f3f3;
    margin-bottom: 10px;
  }

  .order {
    .subtotal {
      font-weight: bold;
      font-size: 1rem;
    }
  }


  .checkout {
    padding: 10px;
    text-align: center;
    font-weight: bold;

    .checkoutBtn {
      background: #ED4337;
      color: white;
    }
  }
}