.checkoutWrapper {
  // width: 100%;
  // max-width: 600px;
  // position: absolute;
  // top: 20%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // z-index: 2;
  // background: white;
  height: 100vh;
  .header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .orderDetails {
    .order {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50px;

      .name {
        font-size: 0.9rem;
        font-weight: 400;
        
      }

      .subtotal{
        font-size: 0.8rem;
        
        font-weight: bold;
      }

    }
    .quantity {
      font-size: 0.8rem;
      
    }

    .price {
      font-size: 0.8rem;
      
    }
  }

  .checkout{
    padding: 10px;
    text-align: center;
    button{
      padding: 5px 10px;
    }
  }
}