.cusineFilter{
    margin-bottom: 40px;
    font-size: 1.25rem;
}

.reset{
    color: #ED4337;
    margin-bottom: 10px;
    cursor: pointer;
}

.cusineFilter label {
    margin: 0px 10px;
    cursor: pointer;
}
.wrap{
    padding: 10px;
    margin: 10px;
    text-align: left;
}