.cusineFilter{
    margin-bottom: 40px;
}

.cusineFilter label {
    margin: 0px 10px;
    cursor: pointer;
}
.wrap{
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.wrap h5{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}